.lipsticImg {
  width: 100%;
  max-height: 600px;
  background-size: cover;
  background-position: center;
}

.lipsticImg2 {
  width: 100%;
  max-height: 600px;
  background-size: cover;
  background-position: center;
}
.lipsticImg3 {
  width: 100%;
  max-height: 600px;
  background-size: cover;
  background-position: center;
}

.carouselIndicators [data-bs-target].active {
  display: none;
}
.carouselIndicators [data-bs-target] {
  display: none;
}
