/* Colors */
:root {
  --cr-white: hsl(0, 0%, 100%);
  --cr-blue-1: hsl(185, 81%, 54%);
  --cr-blue-2: hsl(234, 41%, 15%);
  --cr-blue-3: hsl(237, 43%, 10%);
  --cr-blue-500a: hsla(0, 0%, 0%, 0.5);
}

/* Gradients */
:root {
  --gradient-lin-1: linear-gradient(to right, transparent, var(--cr-blue-1));
  --gradient-lin-2: linear-gradient(to right, var(--cr-blue-1), transparent);
  --gradient-lin-3: linear-gradient(to bottom, var(--cr-blue-1), transparent);
  --gradient-lin-4: linear-gradient(to bottom, transparent, var(--cr-blue-1));
}

/* Page styles */
.page {
  color: var(--cr-white);
  background-color: var(--cr-blue-3);
  /* display: grid;
  grid-template-areas: "main";
  padding: 2em;
  min-height: 100vh; */
}

/* .page__main {
  grid-area: main;
} */

/* Main styles */

/* 
.main__card {
  margin-inline: auto;
  max-width: 22em;
} */

/* Card styles */
.card {
  --anim-duration: 5s;
  --line-thickness: 0.2em;
  color: var(--cr-white);
  background-color: var(--cr-blue-2);
  position: relative;
  width: 14%;
  aspect-ratio: 1 / 1.5;
  overflow: hidden;
  box-shadow: 0 0 2em var(--cr-blue-500a);
  height: 44px;
  border-radius: 25px;
}
.card__line {
  position: absolute;
  width: var(--line-thickness);
  height: 100%;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card__line_left {
  animation-name: to-top;
  background: var(--gradient-lin-3);
  left: 0;
  bottom: -100%;
}

.card__line_right {
  animation-name: to-bottom;
  background: var(--gradient-lin-4);
  right: 0;
  top: -100%;
}

.card__line_top {
  animation-name: to-right;
  animation-delay: 1.5s;
  background: var(--gradient-lin-1);
  width: 100%;
  height: var(--line-thickness);
  top: 0;
  left: -100%;
}

.card__line_bottom {
  animation-name: to-left;
  animation-delay: 1.5s;
  background: var(--gradient-lin-2);
  bottom: 0;
  right: -100%;
  width: 100%;
  height: var(--line-thickness);
}

/* Keyframes */
@keyframes to-top {
  to {
    bottom: 200%;
  }
}

@keyframes to-bottom {
  to {
    top: 200%;
  }
}

@keyframes to-left {
  to {
    right: 200%;
  }
}

@keyframes to-right {
  to {
    left: 200%;
  }
}
